@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: rgb(190, 187, 187);
  color: #fff;
  height: 500vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:rgb(177, 135, 250);
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.active{
  background: rgb(177, 135, 250);
  color: rgb(60, 60, 60);
}
.icon, .link_text{
  font-size: 20px;
}
.Productcard {
	padding: 40px 20px 20px 20px;
	width: 99%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}

.card_item {
	padding: 15px 30px;
	width: 24%;
	text-align: center;
}

.container .card_item:hover {
	transform: scale(1.02);
	transition: transform .3s;
	cursor: pointer;
}

.container .card_inner {
	background: rgba(253, 253, 253, 0.808);
	border-radius: 10px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}
.productdetails{
  background: rgba(253, 253, 253, 0.808);
	border-radius: 10px;
	padding: 35px 20px;
	min-width: 900px;
	min-height: 550px;
	max-height: 1000px;

	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
  margin-left: auto;
    margin-right: auto;
    width: 20em
}

.container .card_item img {
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 50%;
	align-items: center;
	transition: transform .2s;
}

.container .card_item .userName {
	color: #203150;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container .card_item .userUrl {
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
	word-wrap: break-word;
	color: #888B9E;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container .card_item .gitDetail {
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
	display: flex;
	flex-direction: column;
}

.detail-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-box span {
	margin: 2px;
	padding: 2px 10px;
	/* border: 2px solid #c7e6fa; */
	background-color: #f0ebfa;
	border-radius: 50px;
	font-size: 10px;
	font-weight: 600;
	color: #788697;
}

.seeMore {
	margin: 10px auto;
	width: 100px;
	height: 35px;
	background: hsl(245, 44%, 65%);
	color: #fff;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 10px 10px hsl(225, 100%, 94%);
}
